<div class="relative isolate overflow-hidden pt-16">
  <header class="pt-6 pb-4 sm:pb-6">
    <div class="mx-auto flex max-w-7xl flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
      <h1 class="text-base font-semibold leading-7 text-stone-900">Cashflow</h1>
      <div class="order-last flex w-full gap-8 text-sm font-semibold leading-6 sm:order-none sm:w-auto sm:border-l sm:border-stone-200 sm:pl-6 sm:leading-7">
        <a class="text-fuchsia-600">Last 7 days</a>
        <a class="text-stone-700">Last 30 days</a>
        <a class="text-stone-700">All-time</a>
      </div>
      <a class="ml-auto flex items-center gap-x-1 rounded-md bg-fuchsia-600 px-3 py-2 text-sm font-semibold text-white shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-ml-1.5 w-5 h-5">
          <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
        </svg>
        New invoice
      </a>
    </div>
  </header>
  <div class="border-b border-stone-900/5 lg:border-t lg:border-stone-900/5">
    <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-stone-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-stone-500">Revenue</dt>
        <dd class="text-xs font-medium text-stone-600">+4.75%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-stone-900">$405,091.00</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-stone-900/5 px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-stone-500">Overdue invoices</dt>
        <dd class="text-xs font-medium text-stone-600">+54.02%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-stone-900">$12,787.00</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-stone-900/5 px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-stone-500">Outstanding invoices</dt>
        <dd class="text-xs font-medium text-rose-600">-1.39%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-stone-900">$245,988.00</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-stone-900/5 px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-stone-500">Expenses</dt>
        <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-stone-900">$30,156.00</dd>
      </div>
    </dl>
  </div>
</div>
<div class="py-16 space-y-16 lg:space-y-20">
  <div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-stone-900 lg:mx-0 lg:max-w-none">Recent activity</h2>
    </div>
    <div class="mt-6 overflow-hidden border-t border-stone-100">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <table class="w-full text-left">
            <thead class="sr-only">
            <tr>
              <th>Amount</th>
              <th class="hidden sm:table-cell">Client</th>
              <th>More details</th>
            </tr>
            </thead>
            <tbody >
            <tr class="text-sm leading-6 text-stone-900">
              <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                <time datetime="2023-03-22">Today</time>
                <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-stone-200 bg-stone-50"></div>
                <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-stone-200 bg-stone-50"></div>
              </th>
            </tr>
            <tr class="">
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="hidden w-6 h-5 flex-none text-stone-400 sm:block">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-.53 14.03a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V8.25a.75.75 0 00-1.5 0v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3z" clip-rule="evenodd" />
                  </svg>
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-stone-900">$7,600.00 USD</div>
                      <div class="rounded-4xl bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 ">Paid</div>
                    </div>
                    <div class="mt-1 text-xs leading-5 text-stone-500">
                      $500.00 tax
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-stone-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-stone-100"></div>
              </td>
              <td class="hidden py-5 pr-6 sm:table-cell">
                <div class="text-sm leading-6 text-stone-900">Reform</div>
                <div class="mt-1 text-xs leading-5 text-stone-500">Website redesign</div>
              </td>
              <td class="text-right py-5">
                <div class="flex justify-end">
                  <a class="text-sm font-medium leading-6 text-fuchsia-600 hover:text-fuchsia-500">
                    View
                    <span class="hidden sm:inline">translation</span>
                  </a>
                </div>
                <div class="mt-1 text-xs leading-5 text-stone-500">Invoice <span class="text-stone-900">#00012</span></div>
              </td>
            </tr>
            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="hidden flex-none w-5 h-6 text-stone-400 sm:block">
                    <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0112.548-3.364l1.903 1.903h-3.183a.75.75 0 100 1.5h4.992a.75.75 0 00.75-.75V4.356a.75.75 0 00-1.5 0v3.18l-1.9-1.9A9 9 0 003.306 9.67a.75.75 0 101.45.388zm15.408 3.352a.75.75 0 00-.919.53 7.5 7.5 0 01-12.548 3.364l-1.902-1.903h3.183a.75.75 0 000-1.5H2.984a.75.75 0 00-.75.75v4.992a.75.75 0 001.5 0v-3.18l1.9 1.9a9 9 0 0015.059-4.035.75.75 0 00-.53-.918z" clip-rule="evenodd" />
                  </svg>
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-stone-900">$2,000.00 USD</div>
                      <div class="rounded-4xl bg-stone-50 px-2 py-1 text-xs font-medium text-stone-700 ring-1 ring-inset ring-stone-600/20">Overdue</div>
                    </div>
                    <div class="mt-1 text-xs leading-5 text-stone-500">
                      $500.00 tax
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-stone-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-stone-100"></div>
              </td>
            </tr>
            <tr class="text-sm leading-6 text-stone-900">
              <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                <time datetime="2023-03-22">Yesterday</time>
                <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-stone-200 bg-stone-50"></div>
                <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-stone-200 bg-stone-50"></div>
              </th>
            </tr>
            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="hidden flex-none w-5 h-6 text-stone-400 sm:block">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm.53 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v5.69a.75.75 0 001.5 0v-5.69l1.72 1.72a.75.75 0 101.06-1.06l-3-3z" clip-rule="evenodd" />
                  </svg>
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-stone-900">$2,000.00 USD</div>
                      <div class="rounded-4xl bg-stone-50 px-2 py-1 text-xs font-medium text-stone-700 ring-1 ring-inset ring-stone-600/20">Overdue</div>
                    </div>
                    <div class="mt-1 text-xs leading-5 text-stone-500">
                      $500.00 tax
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-stone-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-stone-100"></div>
              </td>
              <td class="hidden py-5 pr-6 sm:table-cell">
                <div class="text-sm leading-6 text-stone-900">Reform</div>
                <div class="mt-1 text-xs leading-5 text-stone-500">Website redesign</div>
              </td>
              <td class="text-right py-5">
                <div class="flex justify-end">
                  <a class="text-sm font-medium leading-6 text-fuchsia-600 hover:text-fuchsia-500">
                    View
                    <span class="hidden sm:inline">translation</span>
                  </a>
                </div>
                <div class="mt-1 text-xs leading-5 text-stone-500">Invoice <span class="text-stone-900">#00012</span></div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="flex items-center justify-between">
        <h2 class="text-base font-semibold leading-7 text-stone-900">Recent clients</h2>
        <a class="text-sm font-semibold leading-6 text-fuchsia-600 hover:text-fuchsia-500">View all</a>
      </div>
      <ul role="list" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
        <li class="overflow-hidden rounded-3xl border border-stone-200">
          <div class="flex items-center gap-x-4 border-b border-stone-900/5 bg-stone-50 p-6">
            <img src="https://tailwindui.com/img/logos/48x48/tuple.svg" alt="Turple" class="h-12 w-12 flex-none rounded-3xl bg-white object-cover ring-1 ring-stone-900/10" />
            <div class="text-sm font-medium leading-6 text-stone-900">Turple</div>
            <div class="relative ml-auto">
              <button type="button" class="-m-2.5 block p-2.5 text-stone-400 hover:text-stone-500">
                <span class="sr-only">Open options</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                </svg>
              </button>
            </div>
          </div>
          <dl class="-my-3 px-6 py-4 text-sm leading-6 divide-y divide-stone-100">
            <div class="flex justify-between gap-x-4 py-3">
              <dt class="text-stone-500">Last invoice</dt>
              <dd class="text-stone-700"><time datetime="2022-12-13">December 13, 2022</time></dd>
            </div>
            <div class="flex justify-between gap-x-4 py-3 ">
              <dt class="text-stone-500">Amount</dt>
              <dd class="flex items-start gap-x-2">
                <div class="font-medium text-stone-900">$2,000.00</div>
                <div class="rounded-3xl bg-rose-50 px-2 py-1 text-xs font-medium text-rose-700 ring-1 ring-inset ring-rose-600/20">Overdue</div>
              </dd>
            </div>
          </dl>
        </li>
        <li class="overflow-hidden rounded-3xl border border-stone-200">
          <div class="flex items-center gap-x-4 border-b border-stone-900/5 bg-stone-50 p-6">
            <img src="https://tailwindui.com/img/logos/48x48/savvycal.svg" alt="Turple" class="h-12 w-12 flex-none rounded-3xl bg-white object-cover ring-1 ring-stone-900/10" />
            <div class="text-sm font-medium leading-6 text-stone-900">SavvyCal</div>
            <div class="relative ml-auto">
              <button type="button" class="-m-2.5 block p-2.5 text-stone-400 hover:text-stone-500">
                <span class="sr-only">Open options</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                </svg>
              </button>
            </div>
          </div>
          <dl class="-my-3 px-6 py-4 text-sm leading-6 divide-y divide-stone-100">
            <div class="flex justify-between gap-x-4 py-3">
              <dt class="text-stone-500">Last invoice</dt>
              <dd class="text-stone-700"><time datetime="2022-12-13">December 13, 2022</time></dd>
            </div>
            <div class="flex justify-between gap-x-4 py-3 ">
              <dt class="text-stone-500">Amount</dt>
              <dd class="flex items-start gap-x-2">
                <div class="font-medium text-stone-900">$2,000.00</div>
                <div class="rounded-3xl bg-rose-50 px-2 py-1 text-xs font-medium text-rose-700 ring-1 ring-inset ring-rose-600/20">Overdue</div>
              </dd>
            </div>
          </dl>
        </li>
        <li class="overflow-hidden rounded-3xl border border-stone-200">
          <div class="flex items-center gap-x-4 border-b border-stone-900/5 bg-stone-50 p-6">
            <img src="https://tailwindui.com/img/logos/48x48/reform.svg" alt="Turple" class="h-12 w-12 flex-none rounded-3xl bg-white object-cover ring-1 ring-stone-900/10" />
            <div class="text-sm font-medium leading-6 text-stone-900">Reform</div>
            <div class="relative ml-auto">
              <button type="button" class="-m-2.5 block p-2.5 text-stone-400 hover:text-stone-500">
                <span class="sr-only">Open options</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                </svg>
              </button>
            </div>
          </div>
          <dl class="-my-3 px-6 py-4 text-sm leading-6 divide-y divide-stone-100">
            <div class="flex justify-between gap-x-4 py-3">
              <dt class="text-stone-500">Last invoice</dt>
              <dd class="text-stone-700"><time datetime="2022-12-13">December 13, 2022</time></dd>
            </div>
            <div class="flex justify-between gap-x-4 py-3">
              <dt class="text-stone-500">Amount</dt>
              <dd class="flex items-start gap-x-2">
                <div class="font-medium text-stone-900">$2,000.00</div>
                <div class="rounded-3xl bg-rose-50 px-2 py-1 text-xs font-medium text-rose-700 ring-1 ring-inset ring-rose-600/20">Overdue</div>
              </dd>
            </div>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>