<div class="mx-auto max-w-7xl pt-16 lg:flex lg:gap-16 lg:px-8">
  <main class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20">
    <div class="mx-auto max-w-2xl space-y-16 lg:px-0 lg:max-w-none lg:space-y-20">
      <div>
        <h2 class="text-base font-semibold leading-7 text-stone-900">Profile</h2>
        <p class="mt-1 text-sm leading-6 text-stone-500">This information will be displayed publicly so be careful what you share.</p>
        <dl class="mt-6 border-t border-stone-200 text-sm leading-6 divide-y divide-stone-100 space-y-6">
          <div class="pt-6 sm:flex">
            <dt class="font-medium text-stone-900 sm:w-64 sm:flex-none sm:pr-6">Full name</dt>
            <dd class="mt-1 flex justify-between gap-6 sm:mt-0 sm:flex-auto">
              <div class="text-stone-900">Tom Cook</div>
              <button class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
            </dd>
          </div>
          <div class="pt-6 sm:flex">
            <dt class="font-medium text-stone-900 sm:w-64 sm:flex-none sm:pr-6">Email address</dt>
            <dd class="mt-1 flex justify-between gap-6 sm:mt-0 sm:flex-auto">
              <div class="text-stone-900">tom.cook@example.com</div>
              <button class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
            </dd>
          </div>
          <div class="pt-6 sm:flex">
            <dt class="font-medium text-stone-900 sm:w-64 sm:flex-none sm:pr-6">Title</dt>
            <dd class="mt-1 flex justify-between gap-6 sm:mt-0 sm:flex-auto">
              <div class="text-stone-900">Human Resources Manager</div>
              <button class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
            </dd>
          </div>
        </dl>
      </div>
      <div>
        <h2 class="text-base font-semibold leading-7 text-stone-900">Bank accounts</h2>
        <p class="mt-1 text-sm leading-6 text-stone-500">Connect bank accounts to your account.</p>
        <ul role="list" class="mt-6 border-t boder-stone-200 text-sm leading-6 divide-y divide-stone-100">
          <li class="flex justify-between gap-6 py-6 ">
            <div class="font-medium text-stone-900">TD Canada Trust</div>
            <button class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
          </li>
          <li class="flex justify-between gap-6 py-6 ">
            <div class="font-medium text-stone-900">Royal Bank of Canada</div>
            <button class="font-semibold text-indigo-600 hover:text-indigo-500">Update</button>
          </li>
        </ul>
        <div class="flex border-t border-stone-200 pt-6">
          <button type="button" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
            <span aria-hidden="true">+</span>
            Add another bank
          </button>
        </div>
      </div>
      <div>
        <h2 class="text-base font-semibold leading-7 text-stone-900">Language and dates</h2>
        <p class="mt-1 text-sm leading-6 text-stone-500">Choose what language and date format to use throughout your account.</p>
        <dl class="mt-6 border-t border-stone-200 text-sm leading-6 divide-y divide-stone-100 space-y-6">
          <div class="pt-6 sm:flex">
            <dt class="font-medium text-stone-900 sm:w-64 sm:flex-none sm:pr-6">Language</dt>
            <dd class="mt-1 flex justify-between gap-6 sm:mt-0 sm:flex-auto">
              <div class="text-stone-900">English</div>
              <button type="button" class="font-semibold text-indigo-600 sm:text-indigo-500">Update</button>
            </dd>
          </div>

          <div class="pt-6 flex">
            <dt class="font-medium text-stone-900 sm:w-64 sm:flex-none sm:pr-6">Automatic timezone</dt>
            <dd class="mt-1 flex items-center justify-end flex-auto">
              <button type="button" class="flex w-8 cursor-pointer rounded-full bg-indigo-600 p-px ring-1 ring-inset ring-stone-900/5 transition">
                <span aria-hidden="true" class="w-4 h-4 translate-x-3.5	rounded-full bg-white shadow-sm	ring-1 ring-stone-900/5 ease-out	 duration-200"></span>
              </button>

              <button type="button" class="flex w-8 cursor-pointer rounded-full bg-stone-200 p-px ring-1 ring-inset ring-stone-900/5 transition ease-out duration-200">
                <span aria-hidden="true" class="w-4 h-4 translate-x-px rounded-full bg-white shadow-sm	ring-1 ring-stone-900/5 ease-out duration-200"></span>
              </button>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </main>
</div>